@use '../base/variables' as var;
@use '../base/mixins' as mix;

.header{
    background-color: var.$verde;

    h1{
        color: var.$blanco;
    }

}

.navegacion-principal{
    background-color: red;
    @include mix.phone{
        background-color: blue;
    }

    @include mix.tablet{
        background-color: cornflowerblue;
    }

    @include mix.desktop{
        background-color: green;
    }

    @include mix.desktopXL{
        background-color: white;
    }

    a{
        color: var.$blanco;
        font-size: 2.4rem;

        &:hover{
            color: var.$amarillo;
        }
    }
}
